<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<empty-layout *ngIf="layout === 'empty'"></empty-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Futuristic -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<futuristic-layout *ngIf="layout === 'futuristic'"></futuristic-layout>


